.container {
    color: white;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    box-shadow: none;
}

.regContainer {
    display: flex;
    flex-direction: column;
}

.inputContainer {
    display: flex;
    justify-content: space-between;

}

.name {
    width: 48%;
}

.error {
    display: flex;
    color: #ffc107;
    justify-content: center;
    align-items: center;
}

.success {
    height: 10rem;
    color: #ffc107;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addressInput{
    width:100%;
} 

@media only screen and (max-width:600px) {
    .container {
        font-size: 1.3rem;
    }

    .inputContainer {
        flex-direction: column;
        justify-content: center;
        width: 95%;
    }

    .regContainer {
        max-height: 45rem;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .addressInput {
        width: 95%;
    }

    .name {
        width: 100%;
        margin-top: 1rem;
    }

}