.backdrop {
    z-index: 50;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000b3;
    backdrop-filter: blur(5px);
    overflow: hidden;
}